<div class="container">
    <div class="row justify-content-left align-items-center"> 
        <div class="col-10">
            <div>
                <h2>
                    <a routerLink="..">&lt;</a>
                </h2>
            </div>
            <h2>Top2Vec Topics</h2>      
        </div>
        <div class="col-1">
            <img src="assets/hessen_logo.png" alt="Hessen Logo" routerLink="/" style="width:70px;height:90px;">
        </div>
    </div>
    <p>{{separatorSymbol}}</p>
    {{topics.length}} topics were found by the model.

    <div class="d-flex align-content-around flex-wrap">
        <p *ngFor="let topic of topics; index as i" class="card grey" flex>
            Topic {{i}}: {{ topic }}
        </p>
    </div>

    <p>{{separatorSymbol}}</p>
    <div class="row justify-content-left align-items-left"> 
        <div class="col-10">
            <div class="row justify-content-left align-items-left"> 
                <p>Semantic search of topics using keywords.
                The most semantically similar topics to the keywords will be returned. 
                The topics will be displayed in a WordCloud.</p>
                <div class="col">
                    <p>Number of Topics to display: </p>  
                    <label class="form-label" for="name">Enter term to search similar topics to:</label>
                </div>
                <div class="col">
                    <input matInput min="1" type="number" required placeholder="Value" [(ngModel)]="count" >
                    <input class="form-control" type="search" id="name" [(ngModel)]="term" placeholder="Search for text..." required>
                </div> 
                <div class="col-1">
                    <button mat-raised-button matTooltip="If the number is bigger than the topics similar to the word no result is provided." color="primary" (click)="getTopicWordClouds()" [disabled]="!term || !count">Search</button> 
                </div> 
            </div>
        </div>
    </div>
    <div class="col-sm">
        <img [src]="this.topic_images" style="width: 100%">
    </div>
    <p>{{separatorSymbol}}</p>
</div>
    




