<div class="container">
    <div class="mb-3">
        <label class="form-label" for="name">Text Search</label>
        <input class="form-control" type="search" id="name" [(ngModel)]="searchText" placeholder="Search for text..." (keyup.enter)="search()">
      </div>
    <div>
        <h2>Documents</h2>
    </div>
    <div *ngFor="let doc of documents">
        <h4>
            {{ doc._id }}
        </h4>
        <p style="max-height: 3rem; overflow-y: auto">
            {{ doc.text }}
        </p>
    </div>    
</div>

<div class="row justify-content-center align-items-center">

    <div class="col-1">
    <img src="assets/hessen_logo.png" alt="Hessen Logo" routerLink="/" style="width:70px;height:90px;">
    </div>

    
</div>

