<div class="container">
    <div>
        <h2>{{doc?._id}}</h2>
    </div>
    <div class="row">
        <div class="col-6">
            <h4>Document name</h4>
            <p style="max-height: 3rem; overflow-y: auto">
                {{doc?._id}}
            </p>
            <div class="mb-3">
                <label class="form-label" for="queryType">Query Type</label>
                <select class="form-select" id="queryType" [(ngModel)]="queryType">
                    <option *ngFor="let queryType of queryTypes" [value]="queryType">{{ queryType }}</option>
                </select>
              </div>
              <a class="btn btn-primary" routerLink="wordcloud">Word Cloud</a>
              <a class="btn btn-primary" routerLink="termfrequency">Term Frequency</a>
        </div>
        <div class="col-6">
            <h4>PDF</h4>
        </div>
    </div>
</div>
